@inject IJSRuntime JS
@inherits AppComponentBase

<div class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-logo">
            <img src="images/init_logo_nobg.png" alt="Logo" class="logo-img" />
            Init
        </a>

        <NavLinks />

        <div class="navbar-search-container">
            <img src="icons/search_icon.svg" alt="Search Icon" class="search-icon" />
            <input type="text"
                   placeholder="@TranslateService.Translate("SEARCH_BAR_PLACEHOLDER")"
                   class="navbar-search"
                   @onfocus="() => ShowModal()" />
        </div>

        <LanguageSwitcher />
    </div>
</div>

<SearchModal IsOpen="@IsModalOpen"
             IsOpenChanged="@(value => IsModalOpen = value)"
             SearchText="@SearchQuery"
             SearchTextChanged="@(value => SearchQuery = value)" />

@code {
    private bool IsModalOpen = false;
    private string SearchQuery = "";

    [JSInvokable]
    public void ShowModal()
    {
        IsModalOpen = true;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("registerSearchShortcut", DotNetObjectReference.Create(this));
        }
    }
}
