@inject ITranslationService TranslationService
@inject IJSRuntime JS

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@TranslationService.Translate("NOT_FOUND")</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@TranslationService.Translate("NOTHING_AT_THIS_ADDRESS")</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        var lang = await JS.InvokeAsync<string>("localStorage.getItem", "lang") ?? "en";
        await TranslationService.LoadTranslationsAsync(lang);
    }
}